.react-calendar {
  width:100%;
  min-width: 320px;
  height:380px;
  padding:17px;
  background: white;
  border-radius: 10px;
  /* font-family: Arial, Helvetica, sans-serif; */
  line-height: 0.5em;
  border:4px solid #eee;
  @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation__label > span {
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
}
.react-calendar__navigation button {
  min-width: 49px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #ffffff;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: var(--mainColor);
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;

}


.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
  
  
}

.react-calendar__month-view__days__day--weekend {
  color: #000000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  padding: 8px 4px;
  background: none;
  text-align: center;
}

/*이부분 원크기 설정*/
.react-calendar__tile abbr{
  display:inline-block;
  width:35px;
  height:35px;
  line-height: 35px;
  text-align: center;
  @media screen and (min-width: 768px) and (max-width: 996px) {
    width:25px;
    height:25px;
    line-height: 25px;
  }

  @media screen and (max-width: 768px) {
    width:20px;
    height:20px;
    line-height: 20px;
    font-size:0.9rem;
  }
}

.react-calendar__tile:disabled abbr{
  background-color: #f0f0f0;
}

/*달력 일에 마우스 올려놨을때 색*/
.react-calendar__tile:enabled:hover abbr,
.react-calendar__tile:enabled:focus abbr{
  background-color: #e6e6e6;
  border-radius:50%;
}
/*오늘 날짜 배경색*/
.react-calendar__tile--now abbr{
  /* background: #ffff76; */
  background: #ffc4f1;
  color:white;
  border-radius:50%;
}
/*오늘 날짜 마우스 올렸을때 배경색*/
.react-calendar__tile--now:enabled:hover abbr,
.react-calendar__tile--now:enabled:focus abbr{
  /* background: #ffffa9; */
  background: #ffa6fc;
  color:white;
  border-radius:50%;
}

.react-calendar__tile--hasActive abbr{
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover abbr,
.react-calendar__tile--hasActive:enabled:focus abbr{
  background: #a9d4ff;
}

.react-calendar__tile--active abbr{
  background: var(--mainColor);
  color: white;
  border-radius:50%;
}

.react-calendar__tile--active:enabled:hover abbr,
.react-calendar__tile--active:enabled:focus abbr{
  background: #6ab2fb;
  border-radius:50%;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
